* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.container {
  max-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 241px 241px 241px;
  grid-template-rows: 90px 241px 241px 155px 155px 241px 241px 155px 155px 90px;
  grid-gap: 10px; }

.item,
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 15px; }

header, footer {
  grid-column: 1/4;
  background-color: #C4C4C4;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  line-height: 20px; }

.item_1,
.item_2,
.item_3,
.item_11 {
  background-color: #A2A9B7;
  color: #FFFFFF; }

.item_4,
.item_5,
.item_7 {
  background-color: #E8EBED; }

.item_9,
.item_10 {
  background-color: #E3EBD3; }

.item_12,
.item_13,
.item_15 {
  background-color: #FFAA87; }

.item_1 {
  grid-column: 1/3;
  grid-row: 2/4;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 18px;
  line-height: 26px;
  padding: 30px 46px 53px 25px; }

.item_3 {
  grid-column: 3/3; }

.item_6 {
  background-color: #90BCE8; }

.item_7 {
  grid-column: 1/3; }

.item_8 {
  background-color: #FEBF26; }

.item_10 {
  grid-column: 2/4;
  grid-row: 6/8;
  display: block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.item__list {
  margin-bottom: 40px; }
  .item__list::after {
    content: '............................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px; }

.item__prop {
  float: left; }

.item__value {
  text-align: end;
  float: right; }

.item_11 {
  position: relative;
  cursor: pointer; }
  .item_11::after {
    content: url(../img/attention.png);
    z-index: 1;
    margin: auto;
    opacity: 0; }
  .item_11:hover::after {
    opacity: 1; }

.bg {
  position: absolute;
  background: url(../img/image.png);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .bg:hover {
    -webkit-filter: blur(4px);
            filter: blur(4px); }

.text {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  z-index: 2; }

.item_13 {
  grid-column: 2/4; }

.item_14 {
  background-color: #F55E62; }

.item_16 {
  background-color: #C7ABD4; }

@media (max-width: 320px) {
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 155px 40px 105px;
    grid-template-rows: 90px 155px 155px 155px 105px 105px 155px 155px 155px 90px;
    grid-gap: 10px; }

  .item_1 {
    grid-column: 1/3;
    grid-row: 5/7;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 18px;
    line-height: 26px;
    padding: 0;
    overflow: scroll; }

  .item_2 {
    grid-column: 3/4;
    grid-row: 5/6; }

  .item_3 {
    grid-column: 3/4;
    grid-row: 6/7; }

  .item_4 {
    grid-column: 1/2;
    grid-row: 2/3; }

  .item_5 {
    grid-column: 2/4;
    grid-row: 2/3; }

  .item_6 {
    grid-row: 4/5; }

  .item_7 {
    grid-column: 1/4;
    grid-row: 3/4; }

  .item_8 {
    grid-column: 2/4;
    grid-row: 4/5; }

  .item_9,
  .item_10,
  .item_11 {
    display: none; }

  .item_12 {
    grid-row: 9/10; }

  .item_13 {
    grid-column: 1/4;
    grid-row: 7/8; }

  .item_14 {
    grid-column: 2/4;
    grid-row: 9/10; }

  .item_15 {
    grid-row: 8/9; }

  .item_16 {
    grid-column: 2/4;
    grid-row: 8/9; } }
.wrapper {
  background: url(../img/image_frame.png);
  width: 651px;
  height: 757px;
  margin: auto; }

.chat-area {
  overflow-y: scroll;
  padding: 30px 0 10px;
  border-bottom: 1px solid #DBDBDB; }

.chat-area__group {
  padding: 0 24px; }

.container-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px; }

.container-frame_you {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .container-frame_you img {
    margin-left: 18px; }

.container-frame_me img {
  margin-right: 18px; }

.send,
.receive {
  position: relative;
  display: block;
  background-color: #F1F3F5;
  padding: 15px;
  max-width: 470px;
  border-radius: 5px; }

.send::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  top: 8px;
  border: 5px solid;
  border-color: #F1F3F5 #F1F3F5 transparent transparent; }

.receive::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 118px;
  top: 8px;
  border: 5px solid;
  border-color: #F1F3F5 transparent transparent #F1F3F5; }

.date {
  overflow: hidden;
  text-align: center; }
  .date::before, .date::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #DBDBDB;
    margin: 15px; }
  .date::before {
    margin-left: -100%; }
  .date::after {
    margin-right: -100%; }

.input__area {
  padding: 20px 24px 30px; }

textarea {
  width: 590px;
  height: 129px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none; }

button {
  width: 144px;
  height: 41px;
  margin-top: 20px;
  padding: 10px 22px;
  color: #FFFFFF;
  background: #0F54B9;
  border-radius: 21px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */